* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #23384e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1500px;
  height: 90vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr 1.5fr;
  grid-template-rows: repeat(5, 1fr) 90px;
}

/*----- Left -----*/
.left {
  background: #14162d;
  grid-row: 1/6;
  border-top-left-radius: 10px;

  &_dots {
    display: flex;
    gap: 18px;
    padding: 15px;

    .dot {
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }

  &_menu {
    margin-top: 10px;
    padding: 0 20px;

    .menu {
      &_item {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: #fff;
        gap: 1rem;
        margin-bottom: 15px;

        &_text {
          font-weight: 600;
          font-size: 14px;
        }
      }
    }

    /* Extra Class */
    .active {
      color: #058594;
    }
    /* /Extra Class */
  }

  &_songs_list {
    max-height: 530px;
    overflow: auto;
    padding: 10px 10px 10px 0;

    /* Remove Scrollbar */
    &::-webkit-scrollbar {
      width: 0;
    }

    .song {
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 14px;
      gap: 10px;
      cursor: pointer;
      padding: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      &:hover {
        background: #171f36;

        /* Hover over to show the play image */
        .play_hover {
          display: block;
        }
      }

      .equalizer_gif {
        width: 20px;
        display: none;
      }

      &_num {
        color: #353c4a;
        width: 20px;
      }

      &_img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        object-fit: cover;
      }

      .play_hover {
        display: none;
        width: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &_info {
      }

      &_name {
        font-weight: 600;
      }

      &_artist {
        color: #353c4a;
      }
    }
  }
}
/*----- /Left -----*/

/*----- Middle -----*/
.middle {
  background: #790b6269;
  grid-row: 1/6;

  &__top {
    // width: 100%;
    height: 50%;
    background-image: url("https://dr.savee-cdn.com/things/5/c/35e8a4aa4e0961c4685c53.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5px;
  }

  .search {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.172);
    height: 35px;
    width: 300px;
    padding: 0 5px 0 10px;
    border-radius: 50px;

    input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background: transparent;
      color: #fff;
      font-size: 17px;
      font-weight: lighter;

      &::placeholder {
        color: #fff;
        font-weight: lighter;
      }
    }
  }

  /*--- Popular ---*/
  .popular {
    padding: 10px;

    &_header {
      font-weight: 600;
      font-size: 18px;
      color: #fff;
    }

    &_list {
      display: flex;
      margin-top: 10px;
      gap: 10px;
    }
  }
  /*--- /Popular ---*/
}

.pop {
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .2s;

  &:hover {
    transform: scale(1.05);
  }
}

.artist_img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  margin-bottom: 5px;
}

.pop_text {
  color: #fff;
  font-weight: 600;
  font-size: 13px;
}

.album_cover {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  margin-bottom: 5px;
}

/*----- /Middle -----*/

/*----- Right -----*/
.right {
  grid-row: 1/6;
  border-top-right-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;

  &_song {
    text-align: center;
    column-rule: #fff;
    // font-family: ;

    &_img {
      border-radius: 50%;
      height: 250px;
      width: 250px;
      object-fit: cover;
      box-shadow: 2px 2px 2px rgba(220, 220, 220, .2);
      margin-bottom: 10px;
    }
  }
}
/*----- /Right -----*/

